<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="28580ENGMOHAMEDELSAQER.226331B3270CA" Publisher="CN=C7207DFD-8768-4CF1-AE91-F6BEBE9EA61D" Version="1.1.0.1" />
  <Properties>
    <DisplayName>أقرب بنزينة لو سمحت</DisplayName>
    <PublisherDisplayName>ENG MOHAMED EL_SAQER</PublisherDisplayName>
    <Logo>Assets\70-70.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="أقرب بنزينة لو سمحت.Windows.App">
      <m2:VisualElements DisplayName="أقرب بنزينة لو سمحت" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="أقرب بنزينة لو سمحت" ForegroundText="dark" BackgroundColor="white">
        <m2:DefaultTile Wide310x150Logo="Assets\logo310x150.png" Square70x70Logo="Assets\logo70x70.png" Square310x310Logo="Assets\logo310x310.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="white" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>